#spinAnimation {
    overflow: hidden;
    padding-top: 200px;
    padding-bottom: 90px;
    background: linear-gradient(302deg, #786dff, #ecc3e7);
    margin: -200px 0;
    // round border
    .border_round {
        position: relative;
        width: 250px;
        height: 250px;
        .main_screen {
            .main_graphics {
                .phone {
                    img {
                        position: absolute;
                        top: 25%;
                        left: 37%;
                        width: 65px;
                        height: 120px;
                    }
                }
                .postpe {
                    img {
                        background: #fff;
                        width: 60px;
                        height: 110px;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        -webkit-transform: translate(-50%, -50%);
                        -moz-transform: translate(-50%, -50%);
                        -ms-transform: translate(-50%, -50%);
                        -o-transform: translate(-50%, -50%);
                        border-radius: 5px;
                        -webkit-border-radius: 5px;
                        -moz-border-radius: 5px;
                        -ms-border-radius: 5px;
                        -o-border-radius: 5px;
                    }
                }
                .move_elements {
                    .qr {
                        img {
                            padding: 1.5px;
                            background-color: #fff;
                            width: 50px;
                            position: absolute;
                            top: 40%;
                            left: -10%;
                            animation: qrAnimate 0.8s infinite alternate-reverse both;
                            -webkit-animation: qrAnimate 0.8s infinite alternate-reverse both;
                            border-radius: 3px;
                            -webkit-border-radius: 3px;
                            -moz-border-radius: 3px;
                            -ms-border-radius: 3px;
                            -o-border-radius: 3px;
                        }
                    }
                    .earth {
                        img {
                            position: absolute;
                            right: 0;
                            top: 0;
                            width: 65px;
                            animation: earthAnimate 0.6s infinite alternate-reverse both;
                            -webkit-animation: earthAnimate 0.6s infinite alternate-reverse both;
                        }
                    }
                    .payment_card {
                        img {
                            position: absolute;
                            bottom: 0;
                            right: 5%;
                            width: 60px;
                            animation: paymentCard 0.7s infinite alternate-reverse both;
                            -webkit-animation: paymentCard 0.7s infinite alternate-reverse both;
                        }
                    }
                    // qr animate
                    @keyframes qrAnimate {
                        0% {
                            transform: translateX(-10px);
                            -webkit-transform: translateX(-10px);
                            -moz-transform: translateX(-10px);
                            -ms-transform: translateX(-10px);
                            -o-transform: translateX(-10px);
                        }
                        100% {
                            transform: translateX(10px);
                            -webkit-transform: translateX(10px);
                            -moz-transform: translateX(10px);
                            -ms-transform: translateX(10px);
                            -o-transform: translateX(10px);
                            transform: rotate(5deg);
                            -webkit-transform: rotate(5deg);
                            -moz-transform: rotate(5deg);
                            -ms-transform: rotate(5deg);
                            -o-transform: rotate(5deg);
                        }
                    }
                    // earth animate
                    @keyframes earthAnimate {
                        0% {
                            transform: translateX(-10px);
                            -webkit-transform: translateX(-10px);
                            -moz-transform: translateX(-10px);
                            -ms-transform: translateX(-10px);
                            -o-transform: translateX(-10px);
                        }
                        100% {
                            transform: translateX(10px);
                            -webkit-transform: translateX(10px);
                            -moz-transform: translateX(10px);
                            -ms-transform: translateX(10px);
                            -o-transform: translateX(10px);
                            transform: rotate(5deg);
                            -webkit-transform: rotate(5deg);
                            -moz-transform: rotate(5deg);
                            -ms-transform: rotate(5deg);
                            -o-transform: rotate(5deg);
                        }
                    }
                    // paymentCard animate
                    @keyframes paymentCard {
                        0% {
                            transform: translateX(-10px);
                            -webkit-transform: translateX(-10px);
                            -moz-transform: translateX(-10px);
                            -ms-transform: translateX(-10px);
                            -o-transform: translateX(-10px);
                        }
                        100% {
                            transform: translateX(10px);
                            -webkit-transform: translateX(10px);
                            -moz-transform: translateX(10px);
                            -ms-transform: translateX(10px);
                            -o-transform: translateX(10px);
                            transform: rotate(5deg);
                            -webkit-transform: rotate(5deg);
                            -moz-transform: rotate(5deg);
                            -ms-transform: rotate(5deg);
                            -o-transform: rotate(5deg);
                        }
                    }
                }
            }
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                height: 250px;
                width: 250px;
                border: 2px dashed #fff;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
                animation: move 9s linear infinite;
                -webkit-animation: move 9s linear infinite;
            }
            // ring or border animation
            @keyframes move {
                from {
                    transform: rotate(0);
                    -webkit-transform: rotate(0);
                    -o-transform: rotate(0);
                    -moz-transform: rotate(0);
                    -ms-transform: rotate(0);
                }
                to {
                    -webkit-transform: rotate(360deg);
                    -o-transform: rotate(360deg);
                    transform: rotate(360deg);
                }
            }
        }
    }
}

a {
    transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    -o-transform: rotate(10deg);
}